<div class="d-flex justify-content-center">
    <%= link_to "All", admin_warehouse_path, class:"btn btn-outline-secondary rounded-pill mx-2 px-4" %>
    <%= button_to "Foods", admin_warehouse_path, method: :get, params: { product_type_tag: "food" }, class:"btn btn-outline-secondary rounded-pill mx-2 px-4" %>
    <%= button_to "Drinks", admin_warehouse_path, method: :get, params: { product_type_tag: "drink" }, class:"btn btn-outline-secondary rounded-pill mx-2 px-4" %>
</div>