<table class="table">
  <thead>
    <tr>
      <td class="border-dark"></td>
      <th scope="col">
       Mã hàng
      </th>
      <th scope="col">
        SL nhập hàng
      </th>
      <th scope="col">
        Ngày nhập
      </th>
      <th scope="col">
        SL bán
      </th>
      <th scope="col">
       SL tồn kho 
      </th>
      <th scope="col">
        Giá SP
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">540px</td>
      <td class="text-muted">720px</td>
      <td class="text-muted">960px</td>
      <td class="text-muted">1140px</td>
      <td class="text-muted">1320px</td>
    </tr>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">540px</td>
      <td class="text-muted">720px</td>
      <td class="text-muted">960px</td>
      <td class="text-muted">1140px</td>
      <td class="text-muted">1320px</td>
    </tr>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">720px</td>
      <td class="text-muted">960px</td>
      <td class="text-muted">1140px</td>
      <td class="text-muted">1320px</td>
    </tr>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">960px</td>
      <td class="text-muted">1140px</td>
      <td class="text-muted">1320px</td>
    </tr>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">1140px</td>
      <td class="text-muted">1320px</td>
    </tr>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">1320px</td>
    </tr>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
    </tr>
  </tbody>
</table>