<div class="container mb-5">
  <h1 class="text-center my-4">Quản lý kho</h1>

  <div class="d-flex justify-content-between mb-4">
    <%= render "category" %>
    <%= render "shared/search_form", path: admin_warehouse_path %>
  </div>


  <% if @products.count > 0 %>
    <table class="table colorloeloet table-striped " >
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col" style="width:40%">Tên SP</th>
          <th scope= "col">Phân loại</th>
          <th scope = "col"> Tổng SL </th>
          <th scope="col">SL tồn kho</th>
          <th scope = "col">SL Bán</th>
        </tr>
      </thead>
      <tbody>
        <% stt = 1 %>
        <% @products.each do |product| %>
          <%= render 'item', product: product, stt: stt %>
          <% stt += 1 %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="fs-4 ms-4 mt-4">Cannot find any products</p>
  <% end %>
  
  <div class="apple_pagination">
    <%= will_paginate @products, :container => false %>
  </div>
</div>