
<%= stylesheet_link_tag 'food', media: 'all', 'data-turbolinks-track' => true %>
<table class="table">
  <thead>
    <tr>
      <td class="border-dark"></td>
      <th scope="col" class="text-muted">
        Mã hàng
      </th>
      <th scope="col" class="text-muted">
        Tên hàng
      <th scope="col" class="text-muted">
        SL nhập
      </th>
      <th scope="col" class="text-muted">
       Ngày nhập
      </th>
      <th scope="col" class="text-muted">
        SL bán
      </th>
      <th scope="col" class="text-muted"> 
      Ngày bán
      </th>
      <th scope="col" class="text-muted">
        SL tồn kho
      </th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">540px</td>
      <td class="text-muted">720px</td>
      <td class="text-muted">960px</td>
      <td class="text-muted">1140px</td>
      <td class="text-muted">1320px</td>
       <td class="text-muted">1320px</td>
    </tr>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">540px</td>
      <td class="text-muted">720px</td>
      <td class="text-muted">960px</td>
      <td class="text-muted">1140px</td>
      <td class="text-muted">1320px</td>
       <td class="text-muted">1320px</td>
    </tr>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">720px</td>
      <td class="text-muted">960px</td>
      <td class="text-muted">1140px</td>
      <td class="text-muted">1320px</td>
       <td class="text-muted">1320px</td>
    </tr>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">960px</td>
      <td class="text-muted">1140px</td>
      <td class="text-muted">1320px</td>
       <td class="text-muted">1320px</td>
    </tr>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">1140px</td>
      <td class="text-muted">1320px</td>
       <td class="text-muted">1320px</td>
    </tr>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">1320px</td>
       <td class="text-muted">1320px</td>
    </tr>
    <tr>
      <th scope="row" class="fw-normal"></th>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
      <td class="text-muted">100%</td>
       <td class="text-muted">1320px</td>
    </tr>
  </tbody>
</table>