<div class="d-flex filter-form">
  <%= button_to "Giá tăng dần", path, method: :get, params: { option: "price_asc" }, class:"button btn-increase" %>
  <%= button_to "Giá giảm dần", path, method: :get, params: { option: "price_desc" }, class:"button btn-descrease" %>
</div>