<% flash.each do |name, msg| %>
  <div class="alert alert-<%= flash_class_name(name) %> mb-0" role="alert">
    <div class="mx-4">
      <%= msg %>
      <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>