<div class="container mb-4">
  <h1 class="text-center mb-4">Menu Menu</h1>
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="width: 18rem;">
        <img class="card-img-top" src="https://img.tastykitchen.vn/crop/320x250/2021/11/02/gio-heo-02b0.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">100.000 VND</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="width: 18rem;">
        <img class="card-img-top" src="https://img.tastykitchen.vn/crop/320x250/2021/11/02/chao-tom-4e2c.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">100.000 VND</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="width: 18rem;">
        <img class="card-img-top" src="https://img.tastykitchen.vn/crop/320x250/2021/11/02/ca-ri-ga-2-7986.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">100.000 VND</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="width: 18rem;">
        <img class="card-img-top" src="https://img.tastykitchen.vn/crop/320x250/2021/11/02/nem-chua-423b.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">100.000 VND</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4 mb-5"><button type="button" class="btn btn-outline-success"><h3>Xem thêm</h3></button></div>
</div>