<div class="depot_form">
    <fieldset>
        <div class="container mb-5">
            <div class="col-md-8 form">
                <div class="inputbox mt-4">
                    <h1 class="mb-4 text-center">Thông Tin Đặt Hàng</h1>
                    <%= render 'form' %>
                <div>
            </div>     
        </div> 
    </fieldset>
</div>
