<%# <h1>New Order</h1>

<%= render 'form', order: @order %>

<%# <%= link_to 'Back', orders_path %> 
<div class="depot_form">
    <fieldset>
        <div class="container mt-5 px-5">
            <div class="col-md-8 form">
                <div class="inputbox mt-3">
                    <h1>Thông Tin Đặt Hàng</h1>
                    <%= render 'form' %>
                <div>
            </div>     
        </div> 
    </fieldset>
</div>
