<div class="d-flex justify-content-center bg-light" style="padding: 90px 0;">
  <div class="card mx-4 px-4 py-5 border-white text-center" style="width: 25rem;">
    <div><img src="https://static.tastykitchen.vn/images/pc/icon-support.jpg" style="width: 80px" alt="Card image cap"></div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mx-4 px-4 py-5 border-white text-center" style="width: 25rem;">
    <div><img src="https://static.tastykitchen.vn/images/pc/icon-wallet.jpg" style="width: 80px" alt="Card image cap"></div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mx-4 px-4 py-5 border-white text-center" style="width: 25rem;">
    <div><img src="https://static.tastykitchen.vn/images/pc/icon-take-out.jpg" style="width: 80px" alt="Card image cap"></div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>