<div class="py-5 bg-danger">
  <div class="container">
    <h1 class="mb-5 text-center text-white">#FEEDBACK</h1>
    <div class="d-flex justify-content-center text-center pb-4">
        <div class="card mx-5 p-5 bg-white" style="width: 32rem;">
          <div><img src="https://i.ibb.co/ZVKmZmX/image-2022-01-13-T02-14-30-784-Z.png" class="border border-info rounded-circle" style="height:150px; width:150px" alt="Card image cap"></div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card mx-5 p-5 bg-white" style="width: 32rem;">
          <div><img src="https://i.ibb.co/Dkgb9bj/image-2022-01-13-T02-14-14-184-Z.png" class="border border-info rounded-circle" style="height: 150px; width:150px" alt="Card image cap"></div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>
  </div>
</div>