<div class="row">
  <% products.each do |product| %>
    <%= render 'product', product: product %>
  <% end %>
</div>
<div class="d-flex justify-content-center mt-3">
  <%= link_to "XEM THÊM >", path, class: "fs-4 btn btn-outline-success" %>
</div>