<div class="container mb-5 mt-5">
  <div class="strike-under"><h1 class="text-center mb-5"><span>Thức uống</span></h1></div>
  <div class="row">
    <% @drinks.each do |product| %>
      <%= render 'shared/product', product: product %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <%= link_to "XEM THÊM >", root_path, class: "fs-4 btn btn-outline-success" %>
  </div>
</div>