<div class="container mb-5 mt-5" id="product-pages">
  <div class="pd-5">
    <div class="strike-under"><h1 class="text-center mb-4"><span>Thức uống</span></h1></div>
    <div class="row">
    
           <% if @drinks.count == 0 %>
            <p class="fs-4 ms-4 mt-4">Cannot find any drinks</p>
    
          <% elsif @drinks.count == 1 %>
            <% @drinks.each do |product| %>
              <%= render 'shared/product', product: product %>
            <% end %>
          <% else %>
            <div class="apple_pagination">
              <%= will_paginate @drinks, :container => false %>
            </div>
            <% @drinks.each do |product| %>
              <%= render 'shared/product', product: product %>
            <% end %>
            <div class="apple_pagination">
              <%= will_paginate @drinks, :container => false %>
            </div>
          <% end %>
    </div>
  </div>
</div>