<div class="container mb-5 mt-5">
  <div class="pd-5">
    <div class="strike-under"><h1 class="text-center mb-4"><span>Món chính</span></h1></div>
    <div class="row">
    
           <% if @foods.count == 0 %>
            <p class="fs-4 ms-4 mt-4">Cannot find any foods</p>
    
          <% elsif @foods.count == 1 %>
            <% @foods.each do |product| %>
              <%= render 'shared/product', product: product %>
            <% end %>
          <% else %>
            <div class="apple_pagination">
              <%= will_paginate @foods, :container => false %>
            </div>
            <% @foods.each do |product| %>
              <%= render 'shared/product', product: product %>
            <% end %>
            <div class="apple_pagination">
              <%= will_paginate @foods, :container => false %>
            </div>
          <% end %>
    </div>
  </div>
</div>