<%= stylesheet_link_tag 'giohang', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container-xl">
    <div class = "sp">
        <h2>Sản Phẩm</h2>
    </div>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class = "d-flex">
                    <img class="img" src="https://img.tastykitchen.vn/crop/320x250/2021/11/02/gio-heo-02b0.jpg">
                    <h4 class ="text">Giò heo hầm pate</h4>
                    <form>
                       <div class="value-button">-</div>
                       <input type="number" id="number" value="0" />
                       <div class="value-button">+</div>
                    </form>
                    <h5 class ="gia">200.000đ<h5>
                    <button type="button" class="btn btn-light btn-xoa">Xóa</button>
                </div>
            </li>
            <li class="list-group-item">
                <div class = "d-flex">
                    <img class= "img" src="https://img.tastykitchen.vn/crop/320x250/2021/11/02/chao-tom-4e2c.jpg">
                    <h4 class ="text">Nem lụi nướng mía</h4>
                    <form>
                       <div class="value-button">-</div>
                       <input type="number" id="number" value="0" />
                       <div class="value-button">+</div>
                    </form>
                    <h5 class ="gia">200.000đ<h5>
                    <button type="button" class="btn btn-light btn-xoa">Xóa</button>
                </div>
            </li>
            <li class="list-group-item">
                <div class = "d-flex">
                    <img class= "img" src="https://img.tastykitchen.vn/crop/320x250/2021/11/02/nem-lui-434c.jpg">
                    <h4 class ="text">Mì spaghetti sốt kem nấm</h4>
                    <form>
                       <div class="value-button">-</div>
                       <input type="number" id="number" value="0" />
                       <div class="value-button">+</div>
                    </form>
                    <h5 class ="gia">200.000đ<h5>
                    <button type="button" class="btn btn-light btn-xoa">Xóa</button>
                </div>
            </li>
        </ul>
    </div>
    <div class = "d-flex tongtien">
        <h4 class = "tongtien1">Tổng Tiền:</h4>
        <h4 class = "giatien">600.000đ</h4>
    </div>
    <div class = "d-flex btn-giohang">
        <div>
            <button type="button" class="btn btn-success btn-back">Trở lại</button>
        </div>
        <div>
            <button type="button" class="btn btn-success btn-thanhtoan">Thanh toán</button>
        </div>
    </div>
</div>