<section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
            <%= image_tag "about.jpg" %>
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>WebFood</h3>
            <p class="fst-italic">
            WebFood là một trong những ứng dụng thương mai điện tử được yêu thích nhất tại Việt Nam,
             kết nối hàng triệu người mua và người bán nhằm phục vụ nhu cầu mua bán trực tuyến ngày càng cao Không chỉ là một cầu nối thương mại điện tử đáng tin cậy ,
              WebFood còn cung cấp dịch vụ giao hàng nhanh chóng và tiện lợi chỉ trong 1 giờ , 
              đem đến cho khách hàng những trải nghiệm mua sắm trực tuyến hiệu quả và tối ưu
            </p>
          
            <p>
            Vừa linh động thời gian làm việc theo ý muốn, 
            vừa có thể nhận được những khoản thưởng cực kỳ hấp dẫn. C
            húng tôi còn có đồng phục,mũ bảo hiểm màu xanh mint và cả túi giao hàng rất ngầu nữa đó!
            </p>
          </div>
        </div>

      </div>
    </section>
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Why Us</h2>
        <p>Why Choose Our WebFood</p>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>01</span>
            <h4>Lorem Ipsum</h4>
            <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>02</span>
            <h4>Repellat Nihil</h4>
            <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span>03</span>
            <h4> Ad ad velit qui</h4>
            <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
          </div>
        </div>

      </div>

    </div>
  </section>