<div class="container">
    <h2 class="title"> HÓA ĐƠN </h2>
    <div class="topnav">
        <input type="text" placeholder="Search..">
        <button type="button" class="btn btn-info">Tìm kiếm hóa đơn</button>
    </div>
    <div class="d-flex btn_div">
        <button type="button" class="btn btn-success">+ Bán Hàng</button>
        <button type="button" class="btn btn-success btn_invoice">Xuất File</button>
    </div>
    <div class="bang">
        <table class="table">
        <thead>
            <tr>
            <td class="border-dark"></td>
            <th scope="col">
            Mã hóa đơn
            <th scope="col">
                Thời gian
            </th>
            <th scope="col">
                Khách hàng
            </th>
            <th scope="col">
                Kênh bán
            </th>
            <th scope="col">
            Tổng tiền hàng 
            </th>
            <th scope="col">
                Giảm giá    
            </th>
            <th scope="col">
                Tổng tiền sau giảm     
            </th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row" class="fw-normal"></th>
            <td class="text-muted">100%</td>
            <td class="text-muted">540px</td>
            <td class="text-muted">720px</td>
            <td class="text-muted">960px</td>
            <td class="text-muted">1140px</td>
            <td class="text-muted">1320px</td>
            <td class="text-muted">1320px</td>
            </tr>
            <tr>
            <th scope="row" class="fw-normal"></th>
            <td class="text-muted">100%</td>
            <td class="text-muted">540px</td>
            <td class="text-muted">720px</td>
            <td class="text-muted">960px</td>
            <td class="text-muted">1140px</td>
            <td class="text-muted">1320px</td>
            <td class="text-muted">1320px</td>
            </tr>
            <tr>
            <th scope="row" class="fw-normal"></th>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">720px</td>
            <td class="text-muted">960px</td>
            <td class="text-muted">1140px</td>
            <td class="text-muted">1320px</td>
            <td class="text-muted">1320px</td>
            </tr>
            <tr>
            <th scope="row" class="fw-normal"></th>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">960px</td>
            <td class="text-muted">1140px</td>
            <td class="text-muted">1320px</td>
            <td class="text-muted">1320px</td>
            </tr>
            <tr>
            <th scope="row" class="fw-normal"></th>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">1140px</td>
            <td class="text-muted">1320px</td>
            <td class="text-muted">1320px</td>
            </tr>
            <tr>
            <th scope="row" class="fw-normal"></th>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">1320px</td>
            <td class="text-muted">1320px</td>
            </tr>
            <tr>
            <th scope="row" class="fw-normal"></th>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">100%</td>
            <td class="text-muted">1320px</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>