<div class="group-input d-flex">
  <div class="btn rounded-start" id="descrease">-</div>
  <input type="number" value="<%= cart_item.quantity %>" class="text-center" id="item_quantity">
  <div class="btn rounded-end" id="increase">+</div>
</div>