<div class="container mb-4 mx-auto">
  <h3 class="mt-4 mb-3">GIỎ HÀNG</h3>
  <div class="row">
    <div class="col-sm-9">
      <div class="card px-4 py-2 mb-3">
        <div class="row">
          <div class="col-sm-5 fw-bold">#Sản phẩm</div>
          <div class="col-sm-2 fw-bold">Đơn giá</div>
          <div class="col-sm-2 fw-bold">Số lượng</div>
          <div class="col-sm-2 fw-bold">Thành tiền</div>
          <div class="col-sm-1"></div>
        </div>
      </div>
      <div class="card p-4 mb-3">
        <div class="row">
          <div class="col-sm-2 d-flex align-items-center">
            <img class="img" src="https://img.tastykitchen.vn/crop/320x250/2021/11/02/gio-heo-02b0.jpg">
          </div>
          <div class="col-sm-3 d-flex align-items-center">Giò heo hầm pate</div>
          <div class="col-sm-2 d-flex align-items-center">200.000đ</div>
          <div class="col-sm-2 d-flex align-items-center">
            <div class="group-input d-flex">
              <button class="rounded-start">-</button>
              <input type="text" value="1" class="text-center">
              <button class="rounded-end">+</button>
            </div>
          </div>
          <div class="col-sm-2 d-flex align-items-center">200.000đ</div>
          <div class="col-sm-1 d-flex align-items-center">
            <button class="btn"><img src="https://i.ibb.co/dDWWbtz/trash.png"></button>
          </div>
        </div>
      </div>
      <div class="card p-4 mb-3">
        <div class="row">
          <div class="col-sm-2 d-flex align-items-center">
            <img class="img" src="https://img.tastykitchen.vn/crop/320x250/2021/11/02/gio-heo-02b0.jpg">
          </div>
          <div class="col-sm-3 d-flex align-items-center">Giò heo hầm pate</div>
          <div class="col-sm-2 d-flex align-items-center">200.000đ</div>
          <div class="col-sm-2 d-flex align-items-center">
            <div class="group-input d-flex">
              <button class="rounded-start">-</button>
              <input type="text" value="1" class="text-center">
              <button class="rounded-end">+</button>
            </div>
          </div>
          <div class="col-sm-2 d-flex align-items-center">200.000đ</div>
          <div class="col-sm-1 d-flex align-items-center">
            <button class="btn"><img src="https://i.ibb.co/dDWWbtz/trash.png"></button>
          </div>
        </div>
      </div>
      <div class="card p-4 mb-3">
        <div class="row">
          <div class="col-sm-2 d-flex align-items-center">
            <img class="img" src="https://img.tastykitchen.vn/crop/320x250/2021/11/02/gio-heo-02b0.jpg">
          </div>
          <div class="col-sm-3 d-flex align-items-center">Giò heo hầm pate</div>
          <div class="col-sm-2 d-flex align-items-center">200.000đ</div>
          <div class="col-sm-2 d-flex align-items-center">
            <div class="group-input d-flex">
              <button class="rounded-start">-</button>
              <input type="text" value="1" class="text-center">
              <button class="rounded-end">+</button>
            </div>
          </div>
          <div class="col-sm-2 d-flex align-items-center">200.000đ</div>
          <div class="col-sm-1 d-flex align-items-center">
            <button class="btn"><img src="https://i.ibb.co/dDWWbtz/trash.png"></button>
          </div>
        </div>
      </div>
      <div class="card p-4 mb-3">
        <div class="row">
          <div class="col-sm-2 d-flex align-items-center">
            <img class="img" src="https://img.tastykitchen.vn/crop/320x250/2021/11/02/gio-heo-02b0.jpg">
          </div>
          <div class="col-sm-3 d-flex align-items-center">Giò heo hầm pate</div>
          <div class="col-sm-2 d-flex align-items-center">200.000đ</div>
          <div class="col-sm-2 d-flex align-items-center">
            <div class="group-input d-flex">
              <button class="rounded-start">-</button>
              <input type="text" value="1" class="text-center">
              <button class="rounded-end">+</button>
            </div>
          </div>
          <div class="col-sm-2 d-flex align-items-center">200.000đ</div>
          <div class="col-sm-1 d-flex align-items-center">
            <button class="btn"><img src="https://i.ibb.co/dDWWbtz/trash.png"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text fw-bold mb-2"><small>Giao tới</small></p>
          <p class="card-title fw-bold">Từ Hoàng Thông | 0329214634</p>
          <p class="card-text mb-4"><small>Hòa Thành, Tây Ninh</small></p>
          <hr>
          <p class="card-text">THÔNG TIN KHUYẾN MÃI</p>
          <p class="card-text">Mã giảm giá</p>
          <hr>
          <p class="card-text fw-bold"><small>Tạm tính</small></p>
          <p class="card-text fw-bold mb-4"><small>Giảm giá</small></p>
          <hr>
          <p class="card-title fw-bold">Tổng cộng</p>
          <div class="btn btn-danger w-100 mt-4 mb-2">Thanh Toán</div>
        </div>
      </div>
    </div>
  </div>
</div>