// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-controllers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 30px;
}