// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 30px;
  margin-bottom:50px;
}
#dashboard .card {
  transition: all 300ms;
}
#dashboard .card:hover {
  background-color: lightcyan;
}