/*
 *= require_tree .
 *= require_self
 *= require daterangepicker
 */

html,
body {
  height: 100%;
  font-family: sans-serif,Arial,Helvetica;
}

#page-content {
    flex: 1 0 auto;
}

// Start strike under text
.strike-under h1 {
    position: relative;
}

.strike-under h1 span {
    background-color: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.strike-under h1:after {
    height: 1px;
    background-color: lightgrey;
    margin-left: 15%;
    width: 70%;
    position: absolute;
    display: block;
    top: 25px;
    content: "";
}

// End strike under text
// PAGINATION
.apple_pagination {
    // background: #f1f1f1;
    // border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default;
}

.apple_pagination a,
.apple_pagination span {
    padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
    color: #aaaaaa;
}

.apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
    text-decoration: none;
    color: black;
}

.apple_pagination a:hover,
.apple_pagination a:focus {
    opacity: 0.6;
}

// FORM CONTROL
.form-control {
    border-bottom: 2px solid #eee !important;
    border: none;
    font-weight: 600;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 2px solid blue !important;
}

// SHOPPING CART ICON
#shoppingCart {
    i {
        position: relative;
    }
    span {
        position: absolute;
        top: -2px;
        right: -3px;
        width: 16px;
        height: 16px;
        color: #f8f9fa;
        font-size: small;
        padding: 2px 4px;
        background-color: crimson;
        border-radius: 50%;
    }
    span.disabled {
        display: none;
    }
}

// NAV-BAR
.nav-link {
    color: rgb(229, 226, 226) !important
}

.nav-link:hover {
    color: white !important
}
