.sp{
    // margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
}
.img{
    width: 100px;
}
.text{
    margin-left: 20px;
    margin-top: 30px;
    height: 100px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

#giohang form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin-bottom: 3px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
.btn-xoa{
    height: 60px;
    width: 60px;
    margin-top: 45px;
    margin-right: 30px;
}
// .btn-giohang{
//     margin-top: 70px;
//     margin-left: 900px;
// }
.btn-back{
    height: 40px;
    width: 200px;
    margin-right: 10px;
}
.btn-thanhtoan{
    height: 40px;
    width: 200px;
}
.gia{
    margin-top: 65px;
    margin-right: 100px;
}
.tongtien{
    width: 300px;
    height: 50px;
    float:right;
}
.tongtien1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(40, 144, 29);
    margin-right:10px ;
}
.giatien{
    color: rgb(238, 14, 14);
}