.title{
    margin-top: 30px;
}
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    float: right;
  }
.btn_div{
    float: right;
    margin-right: 20px;
}
.btn_invoice{
    margin-left: 10px ;
}
.bang{
    margin-top: 80px;
}