.card .card-img-top {
  height: 220px;
}
#products-listing .card {
  transition: all 200ms;
}
#products-listing .card:hover {
  transform: scale(1.06);
  z-index: 2;
  overflow: hidden;
}

// Link xem thêm
.read-more {
  text-decoration: none;
  color: rgb(187, 184, 184);
  font-size: x-large;
}
.read-more:hover {
  color: gray;
}


// GRID LISTING
.grid-list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px 35px;
}


// GROUP BUTTON INCREASE DESCREASE QUANTITY
.group-input {
  .btn {
    border-radius: 0;
    width: 35px;
    background-color: white;
    border: 1px solid lightgray;
  }
  .btn:hover {
    background-color: lightgray;
  }
  input {
    width: 50px;
    border: 1px solid lightgray;
    z-index: 2;
  }
  input:focus {
    outline-style: solid;
    outline-color: lightblue;
  }
}
