.search-form {
  .search-input {
    width: 170px;
    padding: 7px 10px;
    border: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
  }
  .search-input:focus{
    outline: 2px solid lightblue;
    z-index: 1;
  }
  .search-submit {
    border: 1px solid lightgray;
    border-radius: 0 5px 5px 0;
  }
  .search-submit:focus {
    outline: 2px solid lightblue;
    z-index: 1;
  }
}

.filter-form {
  .button {
    padding: 7px 10px;
    border: 1px solid lightgray;
  }
  .button:focus {
    outline: 2px solid lightblue;
  }
  .button.btn-increase {
    border-radius: 20px 0 0 20px;
  }
  .button.btn-descrease {
    border-radius: 0 20px 20px 0;
    border-left: 0;
  }
}
