<div class="pb-5">
<h1> Product </h1>

  <% if @products.count > 0 %>
    <div class="apple_pagination">
  <%= will_paginate @products, :container => false %>
    </div>
    <% @products.each do |product| %>
  <%= render 'product', product: product %>
  <% end %>
  <div class="apple_pagination">
  <%= will_paginate @products, :container => false %>
    </div>  
  <% else %>
    <p class="fs-4 ms-4 mt-4">Opp!!! Cannot find any products</p>
    <% end %>
<div style=" bottom: 20px; right: 150px; z-index: 1">
<%= link_to "New Product", new_product_path, class: "fs-6 btn btn-outline-secondary" %>
</div>
</div>