<%= form_for(:search, class: 'form-group', url: reportlists_index_path , method: :get) do |f| %>
  <div class="form-group mt-3 d-flex">
    <%= f.text_field :created_at, class: 'form-control w-25', data: { behavior: 'daterangepicker' }, value: created_at_from_parameters %>
    <%= f.submit "Tim kiem", class:"btn btn-success"%>
  </div>
<%end%>